.App {
  text-align: center;
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-link {
    color: #61dafb;
  }
}

.header {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  float: right;
  height: 8%;
  width: 100%;

  .header-item {
    display: inline-block;
    margin-right: 25px;
    flex-direction: row;

    .header-link {
      color: rgb(70, 73, 51);
      text-decoration: none;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}
